

<!doctype html>
<html ng-app="todoApp">
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.4/angular.min.js"></script>
	<script src="tab.js"></script>
	<link rel="stylesheet" href="todo.css">
</head>
<body ng-controller="PanelController as panel">
	<h2>Todo</h2>
	<button ng-click="panel.selectTab(1)" ng-class="{active:panel.isSelected(1)}">tab 1</button>
	<button ng-click="panel.selectTab(2)" ng-class="{active:panel.isSelected(2)}">tab 2</button>
	<button ng-click="panel.selectTab(3)" ng-class="{active:panel.isSelected(3)}">tab 3</button>
	<div >
		<div ng-show="panel.isSelected(1)" >
			Inhalt 1
		</div>
		<div ng-show="panel.isSelected(2)">
			Inhalt 2
		</div>
		<div ng-show="panel.isSelected(3)">
			Inhalt 3
		</div>
	</div>
	
	<div>
		<b>{{data.name}}</b>
	</div>
	<form>
		<input type="text" ng-model="data.name" />
	</form>
</body>
</html>

